<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>LoggedinFilter</filter-name>
		<display-name>LoggedinFilter</display-name>
		<description></description>
		<filter-class>edu.unsw.comp9321.LoggedinFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggedinFilter</filter-name>
		<url-pattern>/loggedin/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<display-name>AuthenticationServlet</display-name>
		<description></description>
		<servlet-class>edu.unsw.comp9321.AuthenticationServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<display-name>SearchServlet</display-name>
		<description></description>
		<servlet-class>edu.unsw.comp9321.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserServlet</servlet-name>
		<display-name>EditUserServlet</display-name>
		<description></description>
		<servlet-class>edu.unsw.comp9321.EditUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>profileController</servlet-name>
		<display-name>profileController</display-name>
		<description></description>
		<servlet-class>edu.unsw.comp9321.profileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/AuthenticationServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/confirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserServlet</servlet-name>
		<url-pattern>/EditUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>profileController</servlet-name>
		<url-pattern>/profileController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
